sql_query.py
.idea/
**/__pycache__
debug.log
postgres12/
make.py
.mypy_cache/
pyproject.toml
setup.cfg
cfg/.env
#jl_airflow/logs
.env
.postgres12/
jl_airflow/logs
jl_airflow/airflow-worker.pid
jl_airflow/airflow.cfg
jl_airflow/webserver_config.py
